<div id="cate-box">
  <div id="cate-lines"></div>
  <div id="imprtantWorks">
    <div id="cate-header"></div>
    <div id="cate-rotating-text-top"></div>
    <div class="container"></div>
    <main id="cate-main">
      <div id="cate-shape1"><img src="folders/images/cate-shape.svg" /></div>
      <div id="cate-shape2"><img src="folders/images/cate-shape.svg" /></div>
      <div id="cate-shape3"><img src="folders/images/cate-shape.svg" /></div>
      <div id="cate-shape4"><img src="folders/images/cate-shape.svg" /></div>
      <div id="cate-h1-mobile">
        <h1>Important Works</h1>
      </div>
      <div id="cate-grid">
        <div class="container">
          <div id="categories">
            <h2>Categories</h2>
            <div class="content">
              <ul>
                <div id="cate-arrow-list">
                  <img src="folders/images/cate-arrow-list.svg" />
                </div>
                <li>Visual Identity</li>
                <li>Motion Graphics</li>
                <li>Web Development</li>
                <li>Voiceover Services</li>
              </ul>
            </div>
          </div>
        </div>

        <div id="cate-orange" class="cate-item">
          <div>
            <p>Visual Identity project</p>
            <img
              src="folders/images/be-white.svg"
              white="folders/images/be-white.svg"
              black="behance-icon-black.svg"
            /><img src="folders/images/earth-url.svg" />
          </div>
          <img src="folders/images/orange.png" />
        </div>

        <div id="cate-light-blue" class="cate-item">
          <div>
            <p>Visual Identity project</p>
            <img
              src="folders/images/be-white.svg"
              white="folders/images/be-white.svg"
              black="behance-icon-black.svg"
            /><img src="folders/images/earth-url.svg" />
          </div>
          <img src="folders/images/light-blue.jpg" />
        </div>

        <div id="cate-laptop" class="cate-item">
          <div>
            <p>Visual Identity project</p>
            <img
              src="folders/images/be-white.svg"
              white="folders/images/be-white.svg"
              black="behance-icon-black.svg"
            /><img src="folders/images/earth-url.svg" />
          </div>
          <img src="folders/images/laptop.jpg" />
        </div>

        <div id="cate-world-palnet" class="cate-item">
          <div>
            <p>Visual Identity project</p>
            <img
              src="folders/images/be-white.svg"
              white="folders/images/be-white.svg"
              black="behance-icon-black.svg"
            /><img src="folders/images/earth-url.svg" />
          </div>
          <img src="folders/images/world-planet.jpg" />
        </div>

        <div id="cate-news" class="cate-item">
          <div>
            <p>Visual Identity project</p>
            <img
              src="folders/images/be-white.svg"
              white="folders/images/be-white.svg"
              black="behance-icon-black.svg"
            /><img src="folders/images/earth-url.svg" />
          </div>
          <img src="folders/images/news.jpg" />
        </div>

        <div id="cate-mobile" class="cate-item">
          <div>
            <p>Visual Identity project</p>
            <img
              src="folders/images/be-white.svg"
              white="folders/images/be-white.svg"
              black="behance-icon-black.svg"
            /><img src="folders/images/earth-url.svg" />
          </div>
          <img src="folders/images/mobile.jpg" />
        </div>

        <div id="cate-title" class="cate-item">
          <div>
            <h1>Important Works</h1>
            <div id="works-btn">
              <input type="button" value="View All Works" />
              <p>Veiw All Works <img src="folders/images/view-arrow-white.svg"/></p>
            </div>
          </div>
        </div>
      </div>
      <div id="cate-big-circuit"></div>
      <div id="cate-small-circuit"></div>
    </main>
  </div>
</div>
