
<div id="cate-rotating-text-top"></div>
<div id="cate-lines">
  <img src="folders/images/cate-lines.svg" />
</div>
<div id="cate-header"></div>
<div class="container"></div>
<div id="imprtantWorks">
  <main id="cate-main">
    <div id="cate-shape1"><img src="folders/images/cate-shape.svg" /></div>
    <div id="cate-shape2"><img src="folders/images/cate-shape.svg" /></div>
    <div id="cate-shape3"><img src="folders/images/cate-shape.svg" /></div>
    <div id="cate-shape4"><img src="folders/images/cate-shape.svg" /></div>

    <div id="cate-grid">
      <div class="container">
        <div id="categories">
          <h2>Categories</h2>
          <div id="cate-arrow-list">
            <img src="folders/images/cate-arrow-list.svg" />
          </div>
          <div class="content">
            <ul>
              <li>Visual Identity</li>
              <li>Motion Graphics</li>
              <li>Web Development</li>
              <li>Voiceover Services</li>
            </ul>
          </div>
        </div>
      </div>

      <div id="cate-orange">
        <div>
          <p>Visual Identity project</p>
          <img
            src="folders/images/be-white.svg"
            white="folders/images/be-white.svg"
            black="behance-icon-black.svg"
          /><img src="folders/images/earth-url.svg" />
        </div>
        <img src="folders/images/orange.png" />
      </div>

      <div id="cate-light-blue">
        <div>
          <p>Visual Identity project</p>
          <img
            src="folders/images/be-white.svg"
            white="folders/images/be-white.svg"
            black="behance-icon-black.svg"
          /><img src="folders/images/earth-url.svg" />
        </div>
        <img src="folders/images/light-blue.jpg" />
      </div>

      <div id="cate-laptop">
        <div>
          <p>Visual Identity project</p>
          <img
            src="folders/images/be-white.svg"
            white="folders/images/be-white.svg"
            black="behance-icon-black.svg"
          /><img src="folders/images/earth-url.svg" />
        </div>
        <img src="folders/images/laptop.jpg" />
      </div>

      <div id="cate-world-palnet">
        <div>
          <p>Visual Identity project</p>
          <img
            src="folders/images/be-white.svg"
            white="folders/images/be-white.svg"
            black="behance-icon-black.svg"
          /><img src="folders/images/earth-url.svg" />
        </div>
        <img src="folders/images/world-planet.jpg" />
      </div>

      <div id="cate-news">
        <div>
          <p>Visual Identity project</p>
          <img
            src="folders/images/be-white.svg"
            white="folders/images/be-white.svg"
            black="behance-icon-black.svg"
          /><img src="folders/images/earth-url.svg" />
        </div>
        <img src="folders/images/news.jpg" />
      </div>

      <div id="cate-mobile">
        <div>
          <p>Visual Identity project</p>
          <img
            src="folders/images/be-white.svg"
            white="folders/images/be-white.svg"
            black="behance-icon-black.svg"
          /><img src="folders/images/earth-url.svg" />
        </div>
        <img src="folders/images/mobile.jpg" />
      </div>

      <div id="cate-title">
        <div>
          <h1>Important Works</h1>
          <input id="works-btn" type="button" value="View All Works" />
        </div>
      </div>
    </div>
    <div id="cate-big-circuit"></div>
    <div id="cate-small-circuit"></div>
  </main>
</div>
