<div id="container-sidebar">
  <div id="side-bar">
    <header id="header-sidebar">
      <img
        id="logo-sidebar"
        src="folders/images/logo-peacock.svg"
        alt="Peackok logo"
      />

      <a onclick="closeSidebar()"
        ><img
          id="back-arrow-sidebar"
          src="folders/images/arrow-back.svg"
          alt="back arrow"
      /></a>
    </header>
    <div id="list-sidebar">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#aboutUs">About Us</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#workUs">Work Us</a></li>
        <li><a href="#blogs">Blogs</a></li>
        <li><a href="#partners">Success Partners</a></li>
        <li><a href="#contactUs">Contact Us</a></li>
      </ul>

      <input id="request-btn-sidebar" type="button" value="Request Service" />
    </div>

    <footer id="footer-sidebar">
      <div id="social-media-sidebar">
        <a
      ><img
        class="icons-header icon"
        src="folders/images/whatsapp-icon-gray.svg"
        black="folders/images/whatsapp-icon-black.svg"
        gray="folders/images/whatsapp-icon-gray.svg"
        alt="whatsapp icon"
    /></a>
    <a
      ><img
        class="icons-header icon"
        src="folders/images/x-icon-gray.svg"
        black="folders/images/x-icon-black.svg"
        gray="folders/images/x-icon-gray.svg"
        alt="x icon"
    /></a>
    <a
      ><img
        class="icons-header icon"
        src="folders/images/telegram-icon-gray.svg"
        black="folders/images/telegram-icon-black.svg"
        gray="folders/images/telegram-icon-gray.svg"
        alt="telegram icon"
    /></a>
    <a
      ><img
        class="icons-header icon"
        src="folders/images/instgram-icon-gray.svg"
        black="folders/images/instgram-icon-black.svg"
        gray="folders/images/instgram-icon-gray.svg"
        alt="instagram icon"
    /></a>
    <a
      ><img
        class="icons-header icon"
        src="folders/images/behance-icon-gray.svg"
        black="folders/images/behance-icon-black.svg"
        gray="folders/images/behance-icon-gray.svg"
        alt="be icon"
    /></a>
    <a
      ><img
        class="icons-header icon"
        src="folders/images/linkedin-icon-gray.svg"
        black="folders/images/linkedin-icon-black.svg"
        gray="folders/images/linkedin-icon-gray.svg"
        alt="linkedin icon"
    /></a>
    <a
      ><img
        class="icons-header icon"
        src="folders/images/facebook-icon-gray.svg"
        black="folders/images/facebook-icon-black.svg"
        gray="folders/images/facebook-icon-gray.svg"
        alt="facebook icon"
    /></a>
      </div>
      <div class="arabic-sidebar">
        <a>العربية</a>
      </div>
    </footer>
  </div>
</div>

<div id="overlay" onclick="closeSidebar()"></div>
