@font-face {
  font-family: "Avenir Arabic Medium";
  src: url("../../fonts/alfont_com_AlFont_com_AvenirArabic-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Almarai Regular";
  src: url("../../fonts/Almarai-Regular.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Almarai Bold";
  src: url("../../fonts/Almarai-Bold.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

#about-us-container {
  position: relative;
  overflow: hidden;
}
#aboutUs-box {
  background-color: rgba(254, 216, 95, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
  /* overflow: hidden; */
  position: relative;
}
@media (min-width: 1440px) {
  #aboutUs-box {
    padding: 0 100px;
  }
}
@media (max-width: 1439px) {
  #aboutUs-box {
    padding: 0 70px;
  }
}
@media (max-width: 768px) {
  #aboutUs-box {
    padding: 0 20px;
  }
}

#aboutUs {
  width: 100%;
  max-width: 1440px;
  height: 100%;
  position: relative;
}
@media (max-width: 768px) {
  #aboutUs {
    min-height: 900px;
  }
}

#aboutUs .container {
  width: 100%;
  max-width: 1440px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
}

#aboutUs h1 {
  width: 440px;
  margin-top: 222px;
  margin-left: 20px;
  font-family: "Almarai Regular", sans-serif;
  font-weight: 800;
  font-size: 60px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  position: relative;
}

#about-vector {
  position: absolute;
  width: 230px;
  height: 120px;
  top: -25px;
  left: 105px;
  border-width: 4px;
  z-index: 0;
}

#aboutUs-shape1 {
  position: absolute;
  width: 87px;
  height: 105px;
  top: -87px;
  right: 275px;
}

#aboutUs h2 {
  width: 440px;
  margin-top: 10px;
  margin-left: 30px;
  font-family: "Almarai Regular", sans-serif;
  font-weight: 400;
  font-size: 34px;
  letter-spacing: 3px;
  text-align: center;
  color: rgba(52, 52, 52, 1);
  position: relative;
}
#aboutUs-arrow {
  position: absolute;
  width: 314px;
  height: 114px;
  top: 50px;
  right: 163px;
  border-width: 3px;
  z-index: 1;
}
@media (max-width: 768px) {
  #aboutUs h1 {
    width: 226px;
    font-size: 48px;
    margin: 54px 0 0 34px;
  }
  #about-vector {
    width: 200px;
    height: 65px;
    top: 0px;
    left: 10px;
  }
  #aboutUs main h2 {
    width: 191px;
    height: 18px;
    font-size: 16px;
    margin: 10px 0 0 47px;
    letter-spacing: 1px;
    justify-self: flex-start;
  }
  #aboutUs-shape1 {
    width: 26px;
    height: 32px;
    top: -15px;
    right: 183px;
  }
}
@media (max-width: 1300px) {
  #aboutUs-arrow {
    display: none;
  }
}

#aboutUs-rectangle {
  background-color: rgba(255, 234, 168, 0.27);
  width: 783px;
  height: 727px;
  margin-top: 47px;
  margin-right: -50px;
  position: relative;
}

#aboutUs-rectangle section {
  position: absolute;
  background-color: rgba(255, 234, 168, 0.27);
  width: 693px;
  height: 728px;
  top: 90px;
  left: 90px;
}

#aboutUs-rectangle section h3 {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 535px;
  height: 230.4px;
  font-family: "Avenir Arabic Medium", sans-serif;
  color: rgba(52, 52, 52, 1);
  font-weight: 800;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0%;
}
@media (max-width: 768px) {
  #aboutUs-rectangle {
    width: 380px;
    height: 598px;
    margin-left: 10px;
    margin-right: -20px;
  }
  #aboutUs-rectangle section {
    width: 367px;
    height: 582px;
    left: 13px;
    top: 16px;
  }
  #aboutUs-rectangle section h3 {
    width: 314px;
    height: 309px;
    font-size: 16px;
    top: 8px;
    line-height: 170%;
  }
}

#aboutUs-shape {
  position: absolute;
  width: 56px;
  height: 70px;
  top: 383px;
  right: 466px;
  border-width: 1px;
}
@media (max-width: 768px) {
  #aboutUs-shape {
    left: 264px;
    top: 350px;
  }
}

#aboutUs-rectangle section div:nth-of-type(1) {
  position: absolute;
  top: 375px;
  height: 56px;
  width: 606px;
  transition: top 1s ease-in-out;
}

#aboutUs-rectangle section:nth-of-type(1) div h4 {
  position: absolute;
  right: 44px;
  top: 29px;
  font-family: "Avenir Arabic Medium", sans-serif;
  color: rgba(52, 52, 52, 1);
  font-weight: 800;
  font-size: 20px;
  line-height: 0%;
  letter-spacing: 0%;
  transition: color 1s ease-in-out;
}

#aboutUs-rectangle section:nth-of-type(1) div img {
  position: absolute;
  right: 12px;
  top: 16px;
  width: 24px;
  height: 24px;
  opacity: 70%;
  transition: opacity 1s ease-in-out;
}

#aboutUs-rectangle section div:nth-of-type(2) {
  position: absolute;
  top: 427px;
  height: 56px;
  width: 606px;
}
#aboutUs-rectangle section:nth-of-type(2) div h4 {
  position: absolute;
  left: 44px;
  top: 29px;
  font-family: "Avenir Arabic Medium", sans-serif;
  color: rgba(52, 52, 52, 1);
  font-weight: 800;
  font-size: 20px;
  line-height: 0%;
  letter-spacing: 0%;
}
#aboutUs-rectangle section:nth-of-type(2) div img {
  position: absolute;
  left: 12px;
  top: 16px;
  width: 24px;
  height: 24px;
  opacity: 70%;
}
@media (max-width: 768px) {
  #aboutUs-rectangle section div:nth-of-type(1) {
    width: 304px;
    height: 47px;
    top: 340px !important;
    right: 33px;
  }
  #aboutUs-rectangle section div:nth-of-type(2) {
    width: 304px;
    height: 47px;
    top: 390px;
    right: 33px;
  }
  #aboutUs-rectangle section:nth-of-type(1) div h4 {
    font-size: 16px;
  }
  #aboutUs-rectangle section:nth-of-type(2) div h4 {
    font-size: 16px;
  }
}

#animate-arrow-white {
  position: absolute;
  left: 20px;
  bottom: 0;
  width: 48px;
  height: 2080px;
  background-size: 48px 80px;
  background-image: url("../../images/white-arrow.svg");
  background-repeat: repeat-y;
  transition: transform 1s ease-in-out;
  z-index: 0;
}
#animate-arrow-black {
  position: absolute;
  bottom: 35px;
  left: -1310px;
  width: 2620px;
  height: 48px;
  background-size: 80px 48px;
  background-image: url("../../images/black-arrow.svg");
  background-repeat: repeat-x;
  transition: transform 1s ease-in-out;
  z-index: 5;
  z-index: 1;
}
@media (max-width: 768px) {
  #animate-arrow-white {
    width: 24px;
    background-size: 24px 40px;
  }
  #animate-arrow-black {
    height: 24px;
    background-size: 40px 24px;
  }
}
