@font-face {
  font-family: "Avenir Arabic Medium";
  src: url("../../fonts/alfont_com_AlFont_com_AvenirArabic-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Almarai Regular";
  src: url("../../fonts/Almarai-Regular.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Almarai Bold";
  src: url("../../fonts/Almarai-Bold.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

#home-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
}
@media (min-width: 1440px) {
  #home-box {
    padding: 0 100px;
  }
}
@media (max-width: 1439px) {
  #home-box {
    padding: 0 75px;
  }
}
@media (max-width: 768px) {
  #home-box {
    padding: 0 20px;
  }
}

#container-home {
  height: 100%;
  width: 100%;
  max-width: 1440px;
  margin-bottom: 113px;
}
@media (max-width: 768px) {
  #container-home {
    margin: 0;
  }
}
#home-header {
  width: 100%;
}
#home {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  flex-wrap: wrap;
  justify-content: center;
}
#main-home {
  width: 498px;
  height: 443px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media (max-width: 768px) {
  #main-home {
    width: 350px;
    height: 270px;
  }
}

#shape-home1 {
  width: 63px;
  height: 68px;
  position: absolute;
  top: -75px;
  right: 380px;
}

#shape-home2 {
  width: 39px;
  height: 49px;
  position: absolute;
  top: 479px;
  left: 368px;
}
@media (max-width: 768px) {
  #shape-home1,
  #shape-home2 {
    display: none;
  }
}
#text-home {
  margin: 0;
  font-family: "Almarai Bold";
  color: rgba(15, 23, 42, 1);
  width: 510px;
  font-weight: 900;
  height: auto;
  font-size: 72px;
}

@media (max-width: 768px) {
  #text-home {
    font-size: 38px;
    width: 100%;
    height: 86px;
    line-height: 150%;
  }
}

#shape-home3 {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0px;
  right: 60px;
}
@media (max-width: 768px) {
  #shape-home3 {
    width: 29px;
    height: 29px;
    top: -10px;
    left: -15px;
    display: none;
  }
}

#peacok-home {
  width: 509px;
  height: 101px;
  position: relative;
}
#peacok-home h1 {
  font-family: "Almarai Bold";
  font-size: 92px;
  margin: 0;
  color: rgba(30, 164, 139, 1);
  width: 100%;
  height: 100%;
  margin-top: 5px;
  position: relative;
  z-index: 2;
}
#peacok-vector-home {
  direction: ltr;
  width: 360px;
  height: 30px;
  position: absolute;
  top: 99px;
  right: 0px;
  border-style: hidden;
  border-width: 10px;
  transform: translate(180deg);
}

@media (max-width: 768px) {
  #peacok-home h1 {
    font-size: 70px;
    margin-top: 23px;
  }
  #peacok-vector-home {
    width: 294px;
    height: 19px;
    right: -15px;
  }
}

#request-btn-home {
  width: 214px;
  height: 70px;
  margin-top: 45px;
  border-style: none;
  border-radius: 8px;
  background: linear-gradient(
    to left,
    rgba(30, 164, 139, 1) 50%,
    rgba(254, 216, 95, 1) 50%
  );
  background-size: 200% 100%;
  background-position: left;
  font-family: "Avenir Arabic Medium";
  font-weight: 800;
  font-size: 20px;
  color: rgba(52, 52, 52, 1);
  cursor: pointer;
  transition: background-position 0.5s ease, color 0.5s ease;
  text-align: center;
}
#request-btn-home:hover {
  background-position: right;
  color: rgba(255, 255, 255, 1);
}
@media (max-width: 768px) {
  #request-btn-home {
    width: 177px;
    height: 58px;
    font-size: 16px;
  }
}

#images {
  width: 627px;
  height: 634px;
  margin-top: 37px;
  margin-right: 40px;
  position: relative;
  overflow: hidden;
}

#images .purble {
  position: absolute;
  left: 0px;
  width: 208px;
  height: 630px;
  opacity: 80%;
  border-top-left-radius: 93px;
  border-bottom-left-radius: 93px;
  transition: right 2s ease-in-out, left 2s ease-in-out,
    border-top-left-radius 2s ease-in-out,
    border-bottom-left-radius 2s ease-in-out,
    border-top-right-radius 2s ease-in-out,
    border-bottom-right-radius 2s ease-in-out;
}
@media (max-width: 768px) {
  #images .purble,
  #images .white,
  #images .black {
    display: none;
  }
}

#images .white {
  position: absolute;
  right: 0px;
  top: 214px;
  width: 415px;
  height: 421px;
  object-fit: cover;
  opacity: 80%;
  border-top-left-radius: 178px;
  border-bottom-right-radius: 182px;
  border-bottom-left-radius: 181px;
  transition: top 2s ease-in-out, right 2s ease-in-out, bottom 2s ease-in-out,
    left 2s ease-in-out, border-top-left-radius 2s ease-in-out,
    border-bottom-left-radius 2s ease-in-out,
    border-top-right-radius 2s ease-in-out,
    border-bottom-right-radius 2s ease-in-out, height 2s ease-in-out;
}

#images .black {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 415px;
  height: 209px;
  object-fit: cover;
  opacity: 80%;
  border-top-left-radius: 90px;
  border-top-right-radius: 92px;
  border-bottom-right-radius: 92px;
  transition: top 2s ease-in-out, right 2s ease-in-out, bottom 2s ease-in-out,
    left 2s ease-in-out, border-top-left-radius 2s ease-in-out,
    border-bottom-left-radius 2s ease-in-out,
    border-top-right-radius 2s ease-in-out,
    border-bottom-right-radius 2s ease-in-out, height 2s ease-in-out;
}

#images .purble-mobileEdition,
#images .black-mobileEdition {
  display: none;
}
@media (max-width: 768px) {
  #images {
    height: 380px;
    margin: 0;
  }
  #images .purble-mobileEdition {
    opacity: 80%;
    display: block;
    width: 287px;
    height: 309px;
    position: absolute;
    top: 7px;
    right: 20px;
    transition: top 2s ease-in-out, right 2s ease-in-out, height 2s ease-in-out,
      width 2s ease-in-out;
  }
  #images .black-mobileEdition {
    opacity: 80%;
    display: block;
    width: 139px;
    height: 150px;
    position: absolute;
    top: 214px;
    right: 98px;
    transition: top 2s ease-in-out, right 2s ease-in-out, height 2s ease-in-out,
      width 2s ease-in-out;
  }
}
