@font-face {
  font-family: "Grandia";
  src: url("../../fonts/grandia.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Nunito";
  src: url("../../fonts/Nunito-Regular.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Fredoka";
  src: url("../../fonts/Fredoka-VariableFont_wdth,wght.ttf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Avenir Arabic Medium";
  src: url("../../fonts/alfont_com_AlFont_com_AvenirArabic-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}


#services-box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
  box-sizing: border-box;
}



#rotating-text-top{
  position: absolute;
}
#rotating-text-bottom {
  position: absolute;
}


#header-services {
  width: 100%;
  max-width: 1440px;
}

#services > main {
  width: 100%;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 /*  margin: 0 100px; */
  position: relative;
  height: auto;
}
#services-flexBoxes {
  display: flex;
  /*   flex-wrap: wrap; */
  gap: 20px;
  margin-top: 40px;
  margin-bottom: 35px;
}

#services-flexBox1,
#services-flexBox2,
#services-flexBox3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#services-flexBox1 > h1 {
  width: 400px;
  height: 158px;
  margin: 41px 0 12px 0;
  font-family: "Fredoka";
  color: rgba(52, 52, 52, 1);
  font-weight: 400;
  font-size: 72px;
  line-height: 110%;
  position: relative;
}
#services-vector1 {
  position: absolute;
  top: -40px;
  left: 220px;
}
#services-vector2 {
  position: absolute;
  top: 20px;
  left: 200px;
}

#services-flexBox1 > div:nth-of-type(1) {
  width: 395px;
  height: 294px;
  background-color: rgba(175, 211, 225, 1);
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
#services-flexBox1 > div:nth-of-type(1) > .service-image {
  width: 350px;
  height: 300px;
  position: absolute;
  left: 5px;
  bottom: -20px;
}
#services-flexBox1 > div:nth-of-type(1) > .service-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#services-flexBox1 > div:nth-of-type(2) {
  width: 395px;
  height: 288px;
  background-color: rgba(235, 79, 116, 1);
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0px 0px 24px 0px rgba(224, 19, 62, 1) inset;
}
#services-flexBox1 > div:nth-of-type(2) > .service-image {
  width: 432px;
  height: 293px;
  position: absolute;
  left: -30px;
  bottom: 0;
  overflow: hidden;
}
#services-flexBox1 > div:nth-of-type(2) > .service-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#services-flexBox2 > div:nth-of-type(1) {
  width: 395px;
  height: 300px;
  background-color: #f4d78a;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}

.mouse-services:hover .cut-corner {
  opacity: 1;
}
#services-flexBox1 > div:nth-of-type(2):hover img:nth-of-type(1) {
  width: 355px;
}
#services-flexBox2 > div:nth-of-type(1) #services-flexBox1 > div:nth-of-type(2) > .service-image img {
  height: 105px;
}
#services-flexBox2 > div:nth-of-type(1) > .service-image {
  width: 400px;
  height: 305px;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}
#services-flexBox2 > div:nth-of-type(1):hover .service-image{
  width: 340px;
}
#services-flexBox2 > div:nth-of-type(1) > .service-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  object-fit: cover;
}

#services-flexBox2 > div:nth-of-type(2) {
  width: 395px;
  height: 511px;
  background-color: rgba(191, 209, 171, 1);
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
#services-flexBox2 > div:nth-of-type(2) > .service-image {
  width: 524px;
  height: 384px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}
#services-flexBox2 > div:nth-of-type(2) > .service-image img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}

#services-flexBox3 > div:nth-of-type(1) {
  width: 395px;
  height: 525px;
  background-color: rgba(29, 88, 106, 1);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
#services-flexBox3 > div:nth-of-type(1):hover {
  border-radius: 40px;
}
#services-flexBox3 > div:nth-of-type(1) > .service-image {
  width: 395px;
  height: 525px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
}
#services-flexBox3 > div:nth-of-type(1) > .service-image img {
  width: 100%;
  height: 100%;
  position: absolute;
}

#services-flexBox3 > div:nth-of-type(2) {
  width: 395px;
  height: 289px;
  background-color: rgba(236, 134, 99, 1);
  border-radius: 40px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
}
#services-flexBox3 > div:nth-of-type(2) > .service-image {
  width: 420px;
  height: 270px;
  position: absolute;
  overflow: hidden;
  bottom: 0;
  right: -65px;
}
#services-flexBox3 > div:nth-of-type(2) > .service-image img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.services-blur {
  width: 352px;
  height: 74px;
  border-radius: 8px;
  margin-top: 22px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
}
.services-blur h2 {
  margin-left: 24px;
  font-family: "Fredoka";
  font-weight: 500;
  font-size: 24px;
  line-height: 110%;
  color: white;
}
.cut-corner {
  /*ضروري تذكر قصة الزاوية الي بالعكس*/
  position: absolute;
  width: 100px;
  height: 101px;
  background-color: rgb(255, 255, 255, 1);
  bottom: 0;
  right: 0;
  border-top-left-radius: 40px;
  opacity: 0;
  transition: opacity 0.3s, width 0.3s;
}
.cut-corner img {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  left: 35px;
}


