
<div id="services-box">
<div id="services">
  <div id="rotating-text-top"></div>
<div id="rotating-text-bottom"></div>
  <div id="header-services"></div>
  <main>
    <div id="services-flexBoxes">
      <div id="services-flexBox1">
        <h1>
          <img
            id="services-vector1"
            src="folders/images/services-vector1.svg"
          />
          <img
            id="services-vector2"
            src="folders/images/services-vector2.svg"
          />
          Our<br />Services
        </h1>

        <div class="service">
          <div class="service-image">
            <img src="folders/images/services-fake-news.svg" />
          </div>
          <div class="services-blur">
            <h2>News Services</h2>
          </div>
        </div>

        <div class="service">
          <div class="service-image">
            <img src="folders/images/services-mic.svg" />
          </div>
          <div class="services-blur">
            <h2>Voiceover Services</h2>
          </div>
        </div>
      </div>

      <div id="services-flexBox2">
        <div class="service mouse-services">
          <div class="service-image">
            <img src="folders/images/services-chat.png" />
          </div>
          <div class="services-blur">
            <h2>Digital Marketing <br />& Platform Management</h2>
          </div>
          <div class="cut-corner"><img
          class="arrow-services"
          src="folders/images/arrow-right-services.svg"
        /></div>
        
        </div>

        <div class="service">
          <div class="service-image">
            <img src="folders/images/services-mobile.svg" />
          </div>
          <div class="services-blur">
            <h2>Web Development</h2>
          </div>
        </div>
      </div>

      <div id="services-flexBox3">
        <div class="service mouse-services">
          <div class="service-image">
            <img src="folders/images/services-blue.svg" />
          </div>
          <div class="services-blur">
            <h2>Motion Graphics & Video <br />Production</h2>
          </div>
          <div class="cut-corner"><img
          class="arrow-services"
          src="folders/images/arrow-right-services.svg"
        /></div>
        
        </div>

        <div class="service">
          <div class="red-background"></div>
          <div class="service-image">
            <img src="folders/images/services-tv.svg" />
          </div>
          <div class="services-blur">
            <h2>Visual Identity</h2>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</div>