<div id="services">
  <div id="rotating-text-top"></div>
  <div id="rotating-text-bottom"></div>

  <div id="header-services"></div>
  <main>
    <img id="services-vector1" src="folders/images/services-vector1.svg" />
    <img id="services-vector2" src="folders/images/services-vector2.svg" />
    <h1>Our<br />Services</h1>
  
    <div id="orange-services" class="mouse-services">
      <img src="folders/images/services-chat.png" />
      <div class="services-blur">
        <h2>Digital Marketing <br />& Platform Management</h2>
      </div>
      <div class="cut-corner"></div>
      <img class="arrow-services" src="folders/images/arrow-right-services.svg" />
    </div>

    <div id="dark-blue-services" class="mouse-services">
      <img src="folders/images/services-blue.svg" />
      <div class="services-blur">
        <h2>Motion Graphics & Video <br />Production</h2>
      </div>
      <div class="cut-corner"></div>
      <img class="arrow-services" src="folders/images/arrow-right-services.svg" />
    </div>
    
    <div id="red-services">
      <img src="folders/images/services-tv.svg" />
      <div class="services-blur">
        <h2>Visual Identity</h2>
      </div>
    </div>
    
    <div id="green-services">
      <img src="folders/images/services-mobile.svg" />
      <div class="services-blur">
        <h2>Web Development</h2>
      </div>
    </div>
    
    <div id="pink-services">
      <img src="folders/images/services-mic.svg" />
      <div class="services-blur">
        <h2>Voiceover Services</h2>
      </div>
    </div>
    
    <div id="light-blue-services">
      <img src="folders/images/services-fake-news.svg" />
      <div class="services-blur">
        <h2>News Services</h2>
      </div>
    </div>
  
  </main>
</div>
