<div id="said-box">
  <div id="said-aboutUs">
    <div id="said-rotate-text"></div>
    <div id="said-header"></div>
    <div class="container">
      <main>
        <h1>قالوا عنا</h1>
        <p>
          نحن نقدم لكم خدمات عالية الجودة ومجموعة متنوعة من الخدمات والمنتجات
          التكنولوجية التي تلبي احتياجات العملاء وتساهم في تحسين العمليات وزيادة
          الكفاءة.
        </p>
        <div class="green-arrow">
          <img src="folders/images/green-arrow-said.svg" />
        </div>
      </main>
      <section>
        <div id="said-slider-wrapper">
          <div class="said-slider-overlay"></div>

          <div class="card-container1 card">
            <img src="folders/images/green-heart.svg" />
            <div class="said-card-img">
              <img src="folders/images/Mr.Ayman.png" />
            </div>

            <div class="said-card1-text text">
              <h2>السيد أيمن عابد الغاني</h2>
              <p>
                هذا النص هو مثال على نص يمكن استبداله في نفس المساحة، تم إنشاء
                هذا النص من ولادة النص العربي، حيث يمكنك توليد مثل هذا النص أو
                العديد من النصوص الأخرى بالإضافة إلى زيادة عدد الحروف.
              </p>
              <h3>وكيل طبي معتمد</h3>
            </div>
          </div>
          <div class="card-container2 card">
            <img
              src="folders/images/star.svg"
              style="width: 30px; height: 30px"
            />
            <div class="said-card-img">
              <img src="folders/images/said-person1.jpeg" />
            </div>

            <div class="said-card2-text text">
              <h2>م. محمود خالد أحمد</h2>
              <p>
                هذا النص هو مثال على نص يمكن استبداله في نفس المساحة، تم إنشاء
                هذا النص من ولادة النص العربي، حيث يمكنك توليد مثل هذا النص أو
                العديد من النصوص الأخرى بالإضافة إلى زيادة عدد الحروف.
              </p>
              <h3>مهندس حاسوب</h3>
            </div>
          </div>
          <div class="card-container3 card">
            <img src="folders/images/vegan-green-leaf.svg" />
            <div class="said-card-img">
              <img src="folders/images/said-person2.jpeg" />
            </div>

            <div class="said-card3-text text">
              <h2>السيدة سمر محمد علي</h2>
              <p>
                هذا النص هو مثال على نص يمكن استبداله في نفس المساحة، تم إنشاء
                هذا النص من ولادة النص العربي، حيث يمكنك توليد مثل هذا النص أو
                العديد من النصوص الأخرى بالإضافة إلى زيادة عدد الحروف.
              </p>
              <h3>مصممة جرافيتي معتمدة</h3>
            </div>
          </div>

          <div class="card-container4 card">
            <img src="folders/images/correct.svg" />
            <div class="said-card-img">
              <img src="folders/images/said-person3.jpeg" />
            </div>

            <div class="said-card4-text text">
              <h2>السيد خالد قدور</h2>
              <p>
                هذا النص هو مثال على نص يمكن استبداله في نفس المساحة، تم إنشاء
                هذا النص من ولادة النص العربي، حيث يمكنك توليد مثل هذا النص أو
                العديد من النصوص الأخرى بالإضافة إلى زيادة عدد الحروف.
              </p>
              <h3>دكتور باطنة</h3>
            </div>
          </div>
        </div>

        <div class="said-slide-btns-container">
          <div id="said-slide-btns">
            <img
              src="folders/images/yellow-slide-said.svg"
              data-yellow="folders/images/yellow-slide-said.svg"
              data-gray="folders/images/gray-slide-said.svg"
            />
            <img
              src="folders/images/gray-slide-said.svg"
              data-yellow="folders/images/yellow-slide-said.svg"
              data-gray="folders/images/gray-slide-said.svg"
            />
            <img
              src="folders/images/gray-slide-said.svg"
              data-yellow="folders/images/yellow-slide-said.svg"
              data-gray="folders/images/gray-slide-said.svg"
            />
            <img
              src="folders/images/gray-slide-said.svg"
              data-yellow="folders/images/yellow-slide-said.svg"
              data-gray="folders/images/gray-slide-said.svg"
            />
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
