@font-face {
  font-family: "Avenir Arabic Medium";
  src: url("../../fonts/alfont_com_AlFont_com_AvenirArabic-Medium.otf") format("opentype");
  font-weight: 500; 
  font-style: normal;
}

.header-header {
  display: flex;
  justify-content: space-between;
  height: 43.5px;
  margin-top: 43.5px;
  margin-left: 75px;
  margin-right: 75px;
}
.logo-header {
  width: 91.5px;
  height: 43.5px;
}

.social-media-header {
  display: flex;
  align-items: center;
  gap: 9px;
}

.icons-header {
  height: 23.2px;
  width: 23.5px;
}


.nav-bar-header{
  display: flex;
  align-items: center;
  gap: 11.2px;
}

.arabic-header{
    font-size: 15px;
    font-family: "Avenir Arabic Medium", sans-serif;
    font-weight: 500;
    line-height: 160%;
    color: rgba(52, 52, 52, 1);
}

.sidebar-btn {
  width: 40px;
  height: 30px;
}
.sidebar-btn img{
    width: 40px;
    height: 30px;
}