<div id="header-container">
<header Class="header-header">
  <img
    class="logo-header"
    src="folders/images/logo-peacock.svg"
    alt="Peackok logo"
    />
    
    <div class="social-media-header">
      <a
      ><img
      class="icons-header icon"
        src="folders/images/whatsapp-icon-gray.svg"
        black="folders/images/whatsapp-icon-black.svg"
        gray="folders/images/whatsapp-icon-gray.svg"
        white="folders/images/whatsapp-white.svg"
        alt="whatsapp icon"
        /></a>
    <a
      ><img
        class="icons-header icon"
        src="folders/images/x-icon-gray.svg"
        black="folders/images/x-icon-black.svg"
        gray="folders/images/x-icon-gray.svg"
        white="folders/images/x-white.svg"
        alt="x icon"
        /></a>
        <a
        ><img
        class="icons-header icon"
        src="folders/images/telegram-icon-gray.svg"
        black="folders/images/telegram-icon-black.svg"
        gray="folders/images/telegram-icon-gray.svg"
        white="folders/images/telegram-white.svg"
        alt="telegram icon"
        /></a>
        <a
        ><img
        class="icons-header icon"
        src="folders/images/instgram-icon-gray.svg"
        black="folders/images/instgram-icon-black.svg"
        gray="folders/images/instgram-icon-gray.svg"
        white="folders/images/instgram-white.svg"
        alt="instagram icon"
        /></a>
        <a
        ><img
        class="icons-header icon"
        src="folders/images/behance-icon-gray.svg"
        black="folders/images/behance-icon-black.svg"
        gray="folders/images/behance-icon-gray.svg"
        white="folders/images/be-white.svg"
        alt="be icon"
        /></a>
        <a
        ><img
        class="icons-header icon"
        src="folders/images/linkedin-icon-gray.svg"
        black="folders/images/linkedin-icon-black.svg"
        gray="folders/images/linkedin-icon-gray.svg"
        white="folders/images/linkedin-white.svg"
        alt="linkedin icon"
        /></a>
    <a
    ><img
        class="icons-header icon"
        src="folders/images/facebook-icon-gray.svg"
        black="folders/images/facebook-icon-black.svg"
        gray="folders/images/facebook-icon-gray.svg"
        white="folders/images/facebook-white.svg"
        alt="facebook icon"
    /></a>
  </div>
  
  <nav class="nav-bar-header">
    <a href="../../../Arabic/index_ar.html" class="arabic-header">العربية</a>
    <div class="sidebar-btn">
      <img src="folders/images/sidebar-btn-black.svg" alt="frame icon" />
    </div>
  </nav>
</header>

</div>