<div id="request-box">
  <div class="container">
    <main>
      <h1>Service Request</h1>
      <form action="">
        <input type="text" name="full-name" placeholder="Full Name" />
        <input type="number" name="mobile-number" placeholder="Mobile Number" />
        <input type="email" name="email" placeholder="Email" required/>

        <select name="options">
          <option value="motionGraphic-videoProduction">
            Motion Graphic & Video Production
          </option>
          <option value="digitalMarketing-platformMangement">
            DIgital Marketing & Platform Mangement
          </option>
          <option value="webDevelopment">Web Development</option>
          <option value="visualIdentity">Visual Identity</option>
          <option value="newsServices">News Services</option>
          <option value="voicerServices">Voicer Services</option>
        </select>

        <div id="request-silder">
          <h2>Budget</h2>
          <div class="slider-container">
            <span id="rangeValue" class="range-value">10000</span>
            <input
              type="range"
              id="slider"
              min="0"
              max="50000"
              value="10000"
              step="100"
            />
            <div class="range-labels">
              <span>$ 0</span>
              <span>$ 50000</span>
            </div>
          </div>
        </div>
        <textarea
          name="customer-opinion"
          placeholder="share your opinion or problem with us from here. We always strive to satisfy our customers"
        ></textarea>
      </form>
      <button id="request-btn">Request</button>
    </main>
    <section>
      <div id="request-images">
        <div class="request-img request-motion-graphic">
          <div class="infoBox">
            <h2>Motion Graphics & Video Production</h2>
            <p>
              We provide visual production services in several creative lines,
              including animation, television montage, and educational
              electronic video. We have an innovative graphics team that is
              adept at moving scenes with high professionalism and creativity.
            </p>
            <button>View Example</button>
          </div>

          <img src="folders/images/motion-graphic.png" />
        </div>

        <div class="request-img request-digitalMarketing-platformMangement">
          <div class="infoBox">
            <h2>Digital Markiting & Platform Management</h2>
            <p>
              We provide visual production services in several creative lines,
              including animation, television montage, and educational
              electronic video. We have an innovative graphics team that is
              adept at moving scenes with high professionalism and creativity.
            </p>
            <button>View Example</button>
          </div>

          <img src="folders/images/services-chat.png" />
        </div>

        <div class="request-img request-webDevelopment">
          <div class="infoBox">
            <h2>Web Development</h2>
            <p>
              We provide visual production services in several creative lines,
              including animation, television montage, and educational
              electronic video. We have an innovative graphics team that is
              adept at moving scenes with high professionalism and creativity.
            </p>
            <button>View Example</button>
          </div>

          <img src="folders/images/services-mobile.svg" />
        </div>
        
        <div class="request-img request-visualIdentity">
          <div class="infoBox">
            <h2>Visual Identity</h2>
            <p>
              We provide visual production services in several creative lines,
              including animation, television montage, and educational
              electronic video. We have an innovative graphics team that is
              adept at moving scenes with high professionalism and creativity.
            </p>
            <button>View Example</button>
          </div>

          <img src="folders/images/services-tv.svg" />
        </div>
        
        <div class="request-img request-newsServices">
          <div class="infoBox">
            <h2>News Services</h2>
            <p>
              We provide visual production services in several creative lines,
              including animation, television montage, and educational
              electronic video. We have an innovative graphics team that is
              adept at moving scenes with high professionalism and creativity.
            </p>
            <button>View Example</button>
          </div>

          <img src="folders/images/services-fake-news.svg" />
        </div>
        
        <div class="request-img request-voicerServices">
          <div class="infoBox">
            <h2>Voicer Services</h2>
            <p>
              We provide visual production services in several creative lines,
              including animation, television montage, and educational
              electronic video. We have an innovative graphics team that is
              adept at moving scenes with high professionalism and creativity.
            </p>
            <button>View Example</button>
          </div>

          <img src="folders/images/services-mic.svg" />
        </div>

      </div>
    </section>
  </div>
</div>
<div id="request-overLay"></div>
