@font-face {
  font-family: "uniform rnd";
  src: url("../../fonts/uniform-rnd-bold.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Avenir Arabic Medium";
  src: url("../../fonts/alfont_com_AlFont_com_AvenirArabic-Medium.otf")
    format("opentype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "uniform rnd light";
  src: url("../../fonts/Uniform Rounded Condensed Light.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
#request-overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  display: none;
  z-index: 4;
}
#request-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  background-color: white;
  align-self: center;
  justify-self: center;
  z-index: 5;
}
/* @media (max-width: 768px) {
#request-box {
  top:0;
  left: 0;
  transform: translate(0%, 0%);
}
} */

#request-box .container {
  width: 100%;
  height: 100%;
  display: flex;
  transition: width 0.2s ease, height 0.2s ease;
  overflow: hidden;
  align-self: center;
  justify-self: center;
}
@media (max-width: 768px) {
  #request-box {
    border-radius: 12px;
  }
}

#request-box .container main {
  margin: 38px 26px 26px 26px;
  display: flex;
  flex-direction: column;
  width: 443px;
}

#request-box .container main h1 {
  width: 421px;
  height: 26px;
  font-family: "uniform rnd";
  font-weight: 400;
  font-size: 16px;
}
#request-box .container main form {
  width: 443px;
  height: 413px;
  display: grid;
  grid-template-columns: 215px 215px;
  grid-template-rows: 45px 45px 45px 94px 107px;
  column-gap: 24px;
  row-gap: 16px;
}
@media (max-width: 768px) {
  #request-box .container main {
    width: 90%;
    margin: 16px;
  }
  #request-box .container main form {
    width: 318px;
    height: 588px;
    grid-template-columns: 318px;
    grid-template-rows: 56px 56px 56px 56px 118px 134px;
  }
}
#request-box .container main form input::placeholder,
#request-box .container main form textarea::placeholder {
  color: rgba(179, 179, 179, 1);
  font-family: "Avenir Arabic Medium";
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: 0%;
}
#request-box .container main form input[name="full-name"],
#request-box .container main form select[name="options"],
#request-box .container main form textarea {
  grid-column: 1 / span 2;
  border: none;
  border-radius: 12px;
  background-color: rgba(245, 245, 245, 1);
  padding-right: 13px;
}
@media (max-width: 768px) {
  #request-box .container main form input[name="full-name"],
  #request-box .container main form select[name="options"],
  #request-box .container main form textarea {
    grid-column: 1;
  }
}

#request-box .container main form textarea {
  padding-top: 13px;
}
#request-box .container main form input[name="mobile-number"],
#request-box .container main form input[name="email"] {
  border: none;
  border-radius: 12px;
  background-color: rgba(245, 245, 245, 1);
  padding-right: 13px;
}
#request-box .container main form div {
  grid-column: 1 / span 2;
}
@media (max-width: 768px) {
  #request-box .container main form div {
    grid-column: 1;
  }
}

#request-box .container main form select[name="options"] option {
  color: white;
  background-color: rgba(15, 121, 99, 1);
  font-family: "Avenir Arabic Medium";
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  padding: 13px 13px 0 0;
}

#request-silder h2 {
  width: 100%;
  height: 19px;
  font-family: "Avenir Arabic Medium";
  font-weight: 800;
  font-size: 11px;
  line-height: 100%;
  color: rgba(52, 52, 52, 1);
}
#request-silder .slider-container {
  width: 80%;
  height: 46px;
  position: relative;
  margin: 40px auto;
}
#request-silder .range-value {
  position: absolute;
  top: -28px;
  background-color: rgba(229, 229, 229, 1);
  color: rgba(52, 52, 52, 1);
  padding: 3px 9px;
  border-radius: 6px;
  font-size: 14px;
  transform: translateX(-50%);
  pointer-events: none;
}
#request-silder input[type="range"] {
  appearance: none;
  width: 100%;
  height: 4px;
}
#request-silder input[type="range"]::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 5px;
}
#request-silder input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 16px;
  width: 16px;
  background: rgba(15, 121, 99, 1);
  border-radius: 50%;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 2;
}
#request-silder input[type="range"]::-moz-range-track {
  height: 4px;
  border-radius: 5px;
}
#request-silder input[type="range"]::-moz-range-thumb {
  height: 16px;
  width: 16px;
  background: rgba(15, 121, 99, 1);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
#request-silder .range-labels {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #555;
  margin-top: 4px;
}

#request-btn {
  width: 106px;
  height: 49px;
  border: none;
  border-radius: 8px;
  background-color: rgba(254, 216, 95, 1);
  color: rgba(52, 52, 52, 1);
  font-family: "Avenir Arabic Medium";
  font-weight: 800;
  font-size: 14px;
  line-height: 159%;
  text-align: center;
  align-self: flex-end;
  cursor: pointer;
}

#request-box section {
  width: 472px;
  overflow: hidden;
}
@media (max-width: 768px) {
  #request-box section {
    display: none;
  }
}

#request-images {
  width: 2832px;
  height: 100%;
  display: flex;
  transition: transform 0.3s ease;
}
.request-motion-graphic {
  background-color: rgba(29, 88, 106, 1);
  width: 472px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.request-motion-graphic img {
  object-fit: cover;
  width: 800px;
  height: 850px;
  align-self: center;
  position: absolute;
}

.request-digitalMarketing-platformMangement {
  width: 472px;
  height: 100%;
  background-color: #f5d478;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.request-digitalMarketing-platformMangement img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0;
}
.request-webDevelopment {
  width: 472px;
  height: 100%;
  background-color: rgba(191, 209, 171, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.request-webDevelopment img {
  object-fit: cover;
  width: 100%;
  height: 65%;
  position: absolute;
  bottom: 0;
}

.request-visualIdentity {
  width: 472px;
  height: 100%;
  background-color: rgba(236, 134, 99, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.request-visualIdentity img {
  object-fit: cover;
  width: 75%;
  height: 100;
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.request-newsServices {
  width: 472px;
  height: 100%;
  background-color: rgba(175, 211, 225, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.request-newsServices img {
  object-fit: cover;
  width: 110%;
  height: 70%;
  position: absolute;
  bottom: 0px;
  left: 20px;
}

.request-voicerServices {
  width: 472px;
  height: 100%;
  background-color: rgba(235, 79, 116, 1);
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}
.request-voicerServices img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0px;
}

.request-img .infoBox {
  width: 414px;
  height: 222px;
  padding: 19px 19px 19px 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  align-self: center;
  position: absolute;
  top: 19px;
  z-index: 2;
}

.request-img .infoBox h2 {
  width: 243px;
  height: 42px;
  margin: 0 0 8px 0;
  color: rgba(255, 255, 255, 1);
  font-family: "uniform rnd";
  font-weight: 400;
  font-size: 19px;
  letter-spacing: 0%;
}
.request-img .infoBox p {
  width: 395px;
  height: 96px;
  margin: 0 0 8px 0;
  color: rgba(255, 255, 255, 1);
  font-family: "uniform rnd light";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 120%;
  line-height: 150%;
}

.request-img .infoBox button {
  width: 147px;
  height: 49px;
  margin-top: 19px;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(15, 121, 99, 1);
  font-family: "uniform rnd light";
  font-weight: 800;
  letter-spacing: 2px;
  font-size: 14px;
  text-align: center;
}
