<div id="request-box">
  <div class="container">
    <main>
      <h1>طلب الخدمة</h1>
      <form action="">
        <input type="text" name="full-name" placeholder="الاسم الكامل" />
        <input type="number" name="mobile-number" placeholder="رقم الهاتف" />
        <input
          type="email"
          name="email"
          placeholder="البريد الإلكتروني"
          required
        />

        <select name="options">
          <option value="motionGraphic-videoProduction">
            الرسوم المتحركة وانتاج الفيديو
          </option>
          <option value="digitalMarketing-platformMangement">
            إدارة السمعة الإلكترونية للمؤسسات
          </option>
          <option value="webDevelopment">تطوير الويب</option>
          <option value="visualIdentity">الهوية البصرية</option>
          <option value="newsServices">خدمات الأخبار</option>
          <option value="voicerServices">خدمات التعليق الصوتي</option>
        </select>

        <div id="request-silder">
          <h2>الميزانية</h2>
          <div class="slider-container">
            <span id="rangeValue" class="range-value">10000</span>
            <input
              type="range"
              id="slider"
              min="0"
              max="50000"
              value="10000"
              step="100"
            />
            <div class="range-labels">
              <span>$ 0</span>
              <span>$ 50000</span>
            </div>
          </div>
        </div>
        <textarea
          name="customer-opinion"
          placeholder="share your opinion or problem with us from here. We always strive to satisfy our customers"
        ></textarea>
      </form>
      <button id="request-btn">طلب</button>
    </main>
    <section>
      <div id="request-images">
        <div class="request-img request-motion-graphic">
          <div class="infoBox">
            <h2>الموشن جرافيك وإنتاج الفيديو</h2>
            <p>
              نحن نقدم خدمات الإنتاج البصري في عدة مجالات إبداعية، بما في ذلك
              الرسوم المتحركة، ومونتاج التلفزيون، والفيديو الإلكتروني التعليمي.
              لدينا فريق رسوم مبتكر يتقن تحريك المشاهد بكفاءة عالية وإبداعية.
            </p>
            <button>عرض مثال</button>
          </div>

          <img src="folders/images/motion-graphic.png" />
        </div>

        <div class="request-img request-digitalMarketing-platformMangement">
          <div class="infoBox">
            <h2>إدارة السمعة الرقمية للمؤسسات</h2>
            <p>
              نحن نقدم خدمات الإنتاج البصري في عدة مجالات إبداعية، بما في ذلك
              الرسوم المتحركة، ومونتاج التلفزيون، والفيديو الإلكتروني التعليمي.
              لدينا فريق رسوم مبتكر يتقن تحريك المشاهد بكفاءة عالية وإبداعية.
            </p>
            <button>عرض مثال</button>
          </div>

          <img src="folders/images/services-chat.png" />
        </div>

        <div class="request-img request-webDevelopment">
          <div class="infoBox">
            <h2>تطوير الويب</h2>
            <p>
              نحن نقدم خدمات الإنتاج البصري في عدة مجالات إبداعية، بما في ذلك
              الرسوم المتحركة، ومونتاج التلفزيون، والفيديو الإلكتروني التعليمي.
              لدينا فريق رسوم مبتكر يتقن تحريك المشاهد بكفاءة عالية وإبداعية.
            </p>
            <button>View Example</button>
          </div>

          <img src="folders/images/services-mobile.svg" />
        </div>

        <div class="request-img request-visualIdentity">
          <div class="infoBox">
            <h2>الهوية البصرية</h2>
            <p>
              نحن نقدم خدمات الإنتاج البصري في عدة مجالات إبداعية، بما في ذلك
              الرسوم المتحركة، ومونتاج التلفزيون، والفيديو الإلكتروني التعليمي.
              لدينا فريق رسوم مبتكر يتقن تحريك المشاهد بكفاءة عالية وإبداعية.
            </p>
            <button>عرض مثال</button>
          </div>

          <img src="folders/images/services-tv.svg" />
        </div>

        <div class="request-img request-newsServices">
          <div class="infoBox">
            <h2>خدمات الأخبار</h2>
            <p>
              نحن نقدم خدمات الإنتاج البصري في عدة مجالات إبداعية، بما في ذلك
              الرسوم المتحركة، ومونتاج التلفزيون، والفيديو الإلكتروني التعليمي.
              لدينا فريق رسوم مبتكر يتقن تحريك المشاهد بكفاءة عالية وإبداعية.
            </p>
            <button>عرض مثال</button>
          </div>

          <img src="folders/images/services-fake-news.svg" />
        </div>

        <div class="request-img request-voicerServices">
          <div class="infoBox">
            <h2>خدمات التعليق الصوتي</h2>
            <p>
              نحن نقدم خدمات الإنتاج البصري في عدة مجالات إبداعية، بما في ذلك
              الرسوم المتحركة، ومونتاج التلفزيون، والفيديو الإلكتروني التعليمي.
              لدينا فريق رسوم مبتكر يتقن تحريك المشاهد بكفاءة عالية وإبداعية.y.
            </p>
            <button>عرض مثال</button>
          </div>

          <img src="folders/images/services-mic.svg" />
        </div>
      </div>
    </section>
  </div>
</div>
<div id="request-overLay"></div>
