<div id="aboutUs-box">
  <div id="animate-arrow-white"></div>

  <div id="animate-arrow-black"></div>
  <div id="aboutUs">
    <div id="aboutUs-header"></div>
    <div class="container">
      <main>
        <h1>
          About Us
          <img
            id="aboutUs-shape1"
            src="folders/images/about-us-shape.svg"
            alt="about us shape 1"
          />
          <img
            id="about-vector"
            src="folders/images/about-vector.svg"
            alt="about vector"
          />
        </h1>
        <h2>
          Empowering Innovation
          <img
            id="aboutUs-arrow"
            src="folders/images/about-arrow-vector.svg"
            alt="about us arrow"
          />
        </h2>
      </main>

      <div id="aboutUs-rectangle">
        <section>
          <h3>
            Peacock Design and Web Development Services Company was launched in
            2018 AD in Palestine. The company excels with its specialized and
            professional team in the field of design, web development and
            digital content production. Peacock provides its services to
            individuals, companies and institutions that seek to build a network
            of strong and sustainable relationships with society and seeks to
            present itself in the best way to its audience. Target
          </h3>
          <img
            id="aboutUs-shape"
            src="folders/images/about-shape.svg"
            alt="about us shape"
          />

          <div id="location-about">
            <img
              src="folders/images/Location.svg"
              data-black="folders/images/Location.svg"
              data-white="folders/images/Location-white.svg"
              alt="location"
            />
            <h4
              data-white="rgba(255, 255, 255, 1)"
              data-black="rgba(52, 52, 52, 1)"
            >
              Oman,Masqat
            </h4>
          </div>
          <div>
            <img src="folders/images/phone-icon.svg" alt="phone" />
            <h4>+968 444 4444</h4>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
