<div id="home-box">
  <div id="container-home">
    <div id="home-header"></div>
    <div id="home">
      <main id="main-home">
        <h1 id="text-home">
          A Strong <br />Start
          <span id="i"
            >I<img
              id="shape-home3"
              src="folders/images/home-shape3.svg"
              alt="home shape3" /></span
          >s Needed
        </h1>
        <div id="peacok-home">
          <h1>Peacok</h1>
          <img
            id="peacok-vector-home"
            src="folders/images/peacok-vector-home.svg"
            alt="peacok vector home"
          />
        </div>
        <input
          id="request-btn-home"
          type="button"
          value="Request Service"
        />

        <div id="shape-home1">
          <img src="folders/images/home-shape1.svg" alt="home shape1" />
        </div>
        <div id="shape-home2">
          <img src="folders/images/home-shape2.svg" alt="home shape2" />
        </div>
      </main>

      <section id="images">
        <img
          class="purble"
          src="folders/images/purble-home1.jpg"
          purble1="folders/images/purble1.svg"
          purble2="folders/images/purble2.svg"
          alt="purble1"
        />
        <img
          class="black"
          src="folders/images/black-home.jpg"
          black1="folders/images/black1.svg"
          black2="folders/images/black2.svg"
          alt="purble1"
        />
        <img
          class="white"
          src="folders/images/white-home.jpg"
          white1="folders/images/white1.svg"
          white2="folders/images/white2.svg"
          alt="purble1"
        />


        <img class="purble-mobileEdition" src="folders/images/purble-mobileEdition.svg" alt="purble mobileEdition" />
        <img class="black-mobileEdition" src="folders/images/black-mobileEdition.svg" alt="black mobileEdition" />
      </section>
    </div>
  </div>
</div>
