<div id="partners">
  <div id="partners-header"></div>
  <div class="container">
    <section>
      <div id="partners-logo1">
        <div><img src="folders/images/zady.svg" /></div>
        <div><img src="folders/images/bb.svg" /></div>
        <div><img src="folders/images/refaq.svg" /></div>
        <div><img src="folders/images/3qarat-7ael.svg" /></div>
      </div>

      <div id="partners-logo2">
        <div><img src="folders/images/gam3a-el7dod.svg" /></div>
        <div><img src="folders/images/wezara-3amal.svg" /></div>
        <div><img src="folders/images/wezara-se7a.svg" /></div>
        <div><img src="folders/images/gam3a-khaled.svg" /></div>
      </div>
     
      <div id="partners-change-arrows">
        <div>
          <img
            src="folders/images/arrow-up-black.svg"
            black="folders/images/arrow-up-black.svg"
            gray="folders/images/arrow-down-gray.svg"
          />
        </div>
        <div>
          <img
            src="folders/images/arrow-down-gray.svg"
            black="folders/images/arrow-up-black.svg"
            gray="folders/images/arrow-down-gray.svg"
          />
        </div>
      </div>

    </section>
    <main>
        
      <h1><span>Success</span> Partners</h1>
      <p>
        Empowering Your Vision with Innovative Solutions, Unwavering Support,
        and Collaborative Growth - Together, We Achieve Success.
      </p>
      <img src="folders/images/success-vector.svg" />
    </main>
  </div>
  <div id="partners-decors">
    <img src="folders/images/partners-decors.svg" />
  </div>
</div>
